<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rere.practice">

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- read phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
            android:name=".base.BaseApplication"
            android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposeddescription"
                android:value="@string/app_name"/>
        <meta-data
                android:name="xposedminversion"
                android:value="53"/>

        <activity android:name=".java8.TestJava8Activity"/>

        <activity android:name=".concurrent.TestThreadAndExecutorActivity"/>

        <activity android:name=".concurrent.TestSynchronizationActivity"/>

        <activity android:name=".concurrent.TestLocksActivity"/>

        <activity android:name=".callapp.TestCallAppActivity"/>

        <activity android:name=".testdistinct.TestDistinctAct"/>

        <activity android:name=".animateview.TestAnimateViewActivity"/>

        <activity android:name=".textviewwithimageview.TestTextViewWithImageViewAct"/>

        <activity android:name=".reverse.TestReverseEngineeringActivity"/>

        <!-- 刘望舒blog 练习-->
        <activity android:name=".liuwangshu.TestLiuWangShuPracticeActivity"/>
        <activity android:name=".liuwangshu.view.TestViewMainActivity"/>

        <!-- wifi -->
        <activity android:name=".wifi.TestWifiActivity"/>

        <!-- xposed -->
        <activity android:name=".xposed.XposedActs"/>
        <!-- xposed wifi -->
        <activity android:name=".xposed.xposedwifi.XposedWifiActivity"/>
        <activity android:name=".xposed.xposedwifi.XposedWifiConfigActivity"/>
        <!-- xposed file manager -->
        <activity android:name=".xposed.filemanager.ListFileActivity"/>
        <!-- xposed test -->
        <activity android:name=".xposed.test.TestXposedActs"/>
        <activity android:name=".xposed.test.TestInVirtualXposedActivity"/>
        <activity android:name=".xposed.test.TestInVirtualXposedActivity2"/>
        <activity android:name=".xposed.test.TestInVirtualXposedEnvironment"/>
        <activity android:name=".xposed.test.TestVirtualMultiAppActivity"/>
        <!-- xposed end.-->

        <!-- test launch mode -->
        <activity android:name=".launchmode.base.TestLaunchModeBaseActivity"/>
        <activity android:name=".launchmode.StandardAct"/>
        <activity
            android:name=".launchmode.SingleTopAct"
            android:launchMode="singleTop"/>
        <activity
            android:name=".launchmode.SingleTaskAct"
            android:launchMode="singleTask"
            android:taskAffinity=""
            />
        <activity
            android:name=".launchmode.SingleInstanceAct"
            android:launchMode="singleInstance"/>
        <activity
            android:name=".launchmode.SingleTaskAct2"
            android:launchMode="singleTask"
            android:taskAffinity=""
            />
        <activity
            android:name=".launchmode.AllowTaskReparentingAct"
            android:allowTaskReparenting="true"
            />

        <!-- test network act -->
        <activity android:name=".network.TestNetworkAct"/>

        <!-- test decrypt ace -->
        <activity android:name=".encrypt.TestEncryptAct"/>

    </application>

</manifest>
