<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rere.practice">

    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET"/>


    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".java8.TestJava8Activity"/>

        <activity android:name=".concurrent.TestThreadAndExecutorActivity"/>

        <activity android:name=".concurrent.TestSynchronizationActivity"/>

        <activity android:name=".concurrent.TestLocksActivity"/>

        <activity android:name=".callapp.TestCallAppActivity"/>

        <activity android:name=".testdistinct.TestDistinctAct"/>

        <activity android:name=".animateview.TestAnimateViewActivity"/>

        <activity android:name=".textviewwithimageview.TestTextViewWithImageViewAct"/>

        <activity android:name=".reverse.TestReverseEngineeringActivity"/>

        <!-- 刘望舒blog 练习-->
        <activity android:name=".liuwangshu.TestLiuWangShuPracticeActivity"/>
        <activity android:name=".liuwangshu.view.TestViewMainActivity"/>

        <!-- wifi -->
        <activity android:name=".wifi.TestWifiActivity"/>

        <!-- TestInVirtualXposedEnvironmentment -->
        <activity android:name=".testvirtualxposedenvironment.TestInVirtualXposedEnvironment"/>

    </application>

</manifest>
